@charset "utf-8";
/* CSS Document */

body {
  background-color:rgba(191,191,191,1.00);
  font-family:Arial;
}
* {
    box-sizing: border-box;
}
textarea {
	resize:none;
}
.main {
  margin-left:200px; 
  font-size:20px; 
  padding:5px 10px 0px 10px;
}
.container {
    display: flex;
    border: 5px solid #000000;
    border-radius: 0.5rem;
    overflow: hidden;
	height: 1000px;
	color: white;
}
.containerTextarea {
    border: none;
    outline: none;
    padding:6px 30px 6px 6px;
    width: 100%;
}
.containerLines {
    border-right: 3px solid rgb(100,255,50);
    padding: 0.9rem;
    text-align: right;
    overflow: hidden;
	background-color: black;
}	
.containerLines2 {   
    padding: 0.2rem;
    text-align: right;
    overflow: hidden;
	background-color: black;
}	
.output {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  min-height: 300px;
  border: dashed 2px black;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}




